

.title{
    text-align: center;
    color: red;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 4em;
}

.goog{
    margin-left: .2em;
}

input[type="text"] {
    width: 40%;
}

label{
    margin-right: 2em;
}